# Student Alcohol Consumption

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd
import numpy as np

### Step 2. Import the datasets *student-mat* and *student-por* and merge them.

In [2]:
path = "Exercise Data Files/Pandas Exercise Lambda Functions files/"
mat = pd.read_csv(path + "student-mat.csv")
por = pd.read_csv(path + "student-por.csv")
df = pd.merge(left = mat, right = por, on = "school", suffixes = ("_mat", "_por"))

In [3]:
mat.head(2)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,6,5,6,6
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,4,5,5,6

In [4]:
por.head(2)

,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,Fjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,17,U,GT3,T,1,1,at_home,other,...,5,3,3,1,1,3,2,9,11,11

### Step 3. Assign it to a variable called df.

In [5]:
df

,school,sex_mat,age_mat,address_mat,famsize_mat,Pstatus_mat,Medu_mat,Fedu_mat,Mjob_mat,Fjob_mat,...,famrel_por,freetime_por,goout_por,Dalc_por,Walc_por,health_por,absences_por,G1_por,G2_por,G3_por
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,4,1,1,3,4,0,11,11
1,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,5,3,3,1,1,3,2,9,11,11
2,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,2,2,3,3,6,12,13,12
3,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,3,2,2,1,1,5,0,14,14,14
4,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,2,1,2,5,0,11,13,13
5,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,5,4,2,1,2,5,6,12,12,13
6,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,4,4,1,1,3,0,13,12,13
7,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,1,4,1,1,1,2,10,13,13
8,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,2,2,1,1,1,0,15,16,17
9,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,5,5,1,1,1,5,0,12,12,13
10,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,3,3,3,1,2,2,2,14,14,14
11,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,5,2,2,1,1,4,0,10,12,13
12,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,3,1,3,5,0,12,13,12
13,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,5,4,3,1,2,3,0,12,12,13
14,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,5,2,1,1,3,0,14,14,15
15,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,4,4,1,2,2,6,17,17,17
16,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,3,2,3,1,2,2,10,13,13,14
17,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,5,3,2,1,1,4,2,13,14,14
18,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,5,5,5,2,4,5,2,8,8,7
19,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,3,1,3,1,3,5,6,12,12,12
20,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,4,1,1,1,1,0,12,13,14
21,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,5,4,2,1,1,5,0,11,12,12
22,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,5,1,1,3,5,0,12,13,14
23,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,5,4,4,2,4,5,2,10,10,10
24,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,3,2,1,1,5,2,10,11,10
25,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,1,2,2,1,3,5,6,10,11,12
26,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,2,2,1,2,5,8,11,12,12
27,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,2,2,4,2,4,1,0,11,11,11
28,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,5,3,3,1,1,5,2,12,12,13
29,GP,F,18,U,GT3,A,4,4,at_home,teacher,...,4,4,5,5,5,5,4,12,11,12
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
157993,MS,M,19,U,LE3,T,1,1,other,at_home,...,4,3,2,1,3,3,6,13,12,13
157994,MS,M,19,U,LE3,T,1,1,other,at_home,...,2,3,4,1,1,1,4,15,14,15
157995,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,2,1,2,3,0,13,13,13
157996,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,3,4,2,4,3,0,8,10,9
157997,MS,M,19,U,LE3,T,1,1,other,at_home,...,4,2,2,2,2,5,0,15,16,16
157998,MS,M,19,U,LE3,T,1,1,other,at_home,...,5,2,1,1,2,1,0,8,8,9
157999,MS,M,19,U,LE3,T,1,1,other,at_home,...,5,2,3,1,2,4,0,10,10,10
158000,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,2,4,2,5,0,7,5,0
158001,MS,M,19,U,LE3,T,1,1,other,at_home,...,4,3,3,2,3,3,3,9,10,10
158002,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,4,3,1,1,3,8,10,11,12
158003,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,5,5,1,3,1,4,7,8,9
158004,MS,M,19,U,LE3,T,1,1,other,at_home,...,5,4,4,1,1,1,0,15,17,17
158005,MS,M,19,U,LE3,T,1,1,other,at_home,...,4,3,2,1,2,4,4,10,11,12
158006,MS,M,19,U,LE3,T,1,1,other,at_home,...,4,3,3,1,1,3,4,7,8,9
158007,MS,M,19,U,LE3,T,1,1,other,at_home,...,5,4,3,3,4,2,1,13,14,14
158008,MS,M,19,U,LE3,T,1,1,other,at_home,...,4,1,3,1,2,1,1,16,16,16
158009,MS,M,19,U,LE3,T,1,1,other,at_home,...,4,5,4,2,3,1,10,8,9,9
158010,MS,M,19,U,LE3,T,1,1,other,at_home,...,3,2,4,1,4,2,4,17,18,19
158011,MS,M,19,U,LE3,T,1,1,other,at_home,...,4,4,3,1,3,5,0,7,7,0
158012,MS,M,19,U,LE3,T,1,1,other,at_home,...,4,4,3,1,1,3,4,14,15,16
158013,MS,M,19,U,LE3,T,1,1,other,at_home,...,4,3,2,1,3,5,0,5,8,0
158014,MS,M,19,U,LE3,T,1,1,other,at_home,...,5,4,3,4,3,3,0,7,7,0
158015,MS,M,19,U,LE3,T,1,1,other,at_home,...,5,3,3,1,3,4,0,14,17,15
158016,MS,M,19,U,LE3,T,1,1,other,at_home,...,5,5,4,1,1,1,0,6,9,11
158017,MS,M,19,U,LE3,T,1,1,other,at_home,...,4,4,3,2,2,5,4,7,9,10
158018,MS,M,19,U,LE3,T,1,1,other,at_home,...,5,4,2,1,2,5,4,10,11,10
158019,MS,M,19,U,LE3,T,1,1,other,at_home,...,4,3,4,1,1,1,4,15,15,16
158020,MS,M,19,U,LE3,T,1,1,other,at_home,...,1,1,1,1,1,5,6,11,12,9
158021,MS,M,19,U,LE3,T,1,1,other,at_home,...,2,4,5,3,4,2,6,10,10,10
158022,MS,M,19,U,LE3,T,1,1,other,at_home,...,4,4,1,3,4,5,4,10,11,11

### Step 4. For the purpose of this exercise slice the dataframe from 'school' until the 'guardian' column

In [6]:
student = df.loc[: , "school":"guardian_mat"]
student.head()

,school,sex_mat,age_mat,address_mat,famsize_mat,Pstatus_mat,Medu_mat,Fedu_mat,Mjob_mat,Fjob_mat,reason_mat,guardian_mat
0,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother
1,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother
2,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother
3,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother
4,GP,F,18,U,GT3,A,4,4,at_home,teacher,course,mother

### Step 5. Create a lambda function that captalize strings.

In [7]:
capitalize = lambda x: x.capitalize()

### Step 6. Capitalize both Mjob and Fjob

In [8]:
student[["Mjob_mat", "Fjob_mat"]].applymap(capitalize)

       Mjob_mat Fjob_mat
0       At_home  Teacher
1       At_home  Teacher
2       At_home  Teacher
3       At_home  Teacher
4       At_home  Teacher
5       At_home  Teacher
6       At_home  Teacher
7       At_home  Teacher
8       At_home  Teacher
9       At_home  Teacher
10      At_home  Teacher
11      At_home  Teacher
12      At_home  Teacher
13      At_home  Teacher
14      At_home  Teacher
15      At_home  Teacher
16      At_home  Teacher
17      At_home  Teacher
18      At_home  Teacher
19      At_home  Teacher
20      At_home  Teacher
21      At_home  Teacher
22      At_home  Teacher
23      At_home  Teacher
24      At_home  Teacher
25      At_home  Teacher
26      At_home  Teacher
27      At_home  Teacher
28      At_home  Teacher
29      At_home  Teacher
...         ...      ...
157993    Other  At_home
157994    Other  At_home
157995    Other  At_home
157996    Other  At_home
157997    Other  At_home
157998    Other  At_home
157999    Other  At_home
158000    Other  At_home
158001    Other  At_home
158002    Other  At_home
158003    Other  At_home
158004    Other  At_home
158005    Other  At_home
158006    Other  At_home
158007    Other  At_home
158008    Other  At_home
158009    Other  At_home
158010    Other  At_home
158011    Other  At_home
158012    Other  At_home
158013    Other  At_home
158014    Other  At_home
158015    Other  At_home
158016    Other  At_home
158017    Other  At_home
158018    Other  At_home
158019    Other  At_home
158020    Other  At_home
158021    Other  At_home
158022    Other  At_home

[158023 rows x 2 columns]

### Step 7. Print the last elements of the data set.

In [9]:
student.tail(1)

,school,sex_mat,age_mat,address_mat,famsize_mat,Pstatus_mat,Medu_mat,Fedu_mat,Mjob_mat,Fjob_mat,reason_mat,guardian_mat
158022,MS,M,19,U,LE3,T,1,1,other,at_home,course,father

### Step 8. Did you notice the original dataframe is still lowercase? Why is that? Fix it and captalize Mjob and Fjob.

In [10]:
student[["Mjob_mat", "Fjob_mat"]] = student[["Mjob_mat", "Fjob_mat"]].applymap(capitalize)
student.head()

,school,sex_mat,age_mat,address_mat,famsize_mat,Pstatus_mat,Medu_mat,Fedu_mat,Mjob_mat,Fjob_mat,reason_mat,guardian_mat
0,GP,F,18,U,GT3,A,4,4,At_home,Teacher,course,mother
1,GP,F,18,U,GT3,A,4,4,At_home,Teacher,course,mother
2,GP,F,18,U,GT3,A,4,4,At_home,Teacher,course,mother
3,GP,F,18,U,GT3,A,4,4,At_home,Teacher,course,mother
4,GP,F,18,U,GT3,A,4,4,At_home,Teacher,course,mother

### Step 9. Create a function called majority that return a boolean value to a new column called legal_drinker

In [11]:
def majority(x):
    if x > 17:
        return True
    else:
        return False

In [12]:
student['legal_drinker'] = student['age_mat'].apply(majority)
student

,school,sex_mat,age_mat,address_mat,famsize_mat,Pstatus_mat,Medu_mat,Fedu_mat,Mjob_mat,Fjob_mat,reason_mat,guardian_mat,legal_drinker
0,GP,F,18,U,GT3,A,4,4,At_home,Teacher,course,mother,True
1,GP,F,18,U,GT3,A,4,4,At_home,Teacher,course,mother,True
2,GP,F,18,U,GT3,A,4,4,At_home,Teacher,course,mother,True
3,GP,F,18,U,GT3,A,4,4,At_home,Teacher,course,mother,True
4,GP,F,18,U,GT3,A,4,4,At_home,Teacher,course,mother,True
5,GP,F,18,U,GT3,A,4,4,At_home,Teacher,course,mother,True
6,GP,F,18,U,GT3,A,4,4,At_home,Teacher,course,mother,True
7,GP,F,18,U,GT3,A,4,4,At_home,Teacher,course,mother,True
8,GP,F,18,U,GT3,A,4,4,At_home,Teacher,course,mother,True
9,GP,F,18,U,GT3,A,4,4,At_home,Teacher,course,mother,True
10,GP,F,18,U,GT3,A,4,4,At_home,Teacher,course,mother,True
11,GP,F,18,U,GT3,A,4,4,At_home,Teacher,course,mother,True
12,GP,F,18,U,GT3,A,4,4,At_home,Teacher,course,mother,True
13,GP,F,18,U,GT3,A,4,4,At_home,Teacher,course,mother,True
14,GP,F,18,U,GT3,A,4,4,At_home,Teacher,course,mother,True
15,GP,F,18,U,GT3,A,4,4,At_home,Teacher,course,mother,True
16,GP,F,18,U,GT3,A,4,4,At_home,Teacher,course,mother,True
17,GP,F,18,U,GT3,A,4,4,At_home,Teacher,course,mother,True
18,GP,F,18,U,GT3,A,4,4,At_home,Teacher,course,mother,True
19,GP,F,18,U,GT3,A,4,4,At_home,Teacher,course,mother,True
20,GP,F,18,U,GT3,A,4,4,At_home,Teacher,course,mother,True
21,GP,F,18,U,GT3,A,4,4,At_home,Teacher,course,mother,True
22,GP,F,18,U,GT3,A,4,4,At_home,Teacher,course,mother,True
23,GP,F,18,U,GT3,A,4,4,At_home,Teacher,course,mother,True
24,GP,F,18,U,GT3,A,4,4,At_home,Teacher,course,mother,True
25,GP,F,18,U,GT3,A,4,4,At_home,Teacher,course,mother,True
26,GP,F,18,U,GT3,A,4,4,At_home,Teacher,course,mother,True
27,GP,F,18,U,GT3,A,4,4,At_home,Teacher,course,mother,True
28,GP,F,18,U,GT3,A,4,4,At_home,Teacher,course,mother,True
29,GP,F,18,U,GT3,A,4,4,At_home,Teacher,course,mother,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
157993,MS,M,19,U,LE3,T,1,1,Other,At_home,course,father,True
157994,MS,M,19,U,LE3,T,1,1,Other,At_home,course,father,True
157995,MS,M,19,U,LE3,T,1,1,Other,At_home,course,father,True
157996,MS,M,19,U,LE3,T,1,1,Other,At_home,course,father,True
157997,MS,M,19,U,LE3,T,1,1,Other,At_home,course,father,True
157998,MS,M,19,U,LE3,T,1,1,Other,At_home,course,father,True
157999,MS,M,19,U,LE3,T,1,1,Other,At_home,course,father,True
158000,MS,M,19,U,LE3,T,1,1,Other,At_home,course,father,True
158001,MS,M,19,U,LE3,T,1,1,Other,At_home,course,father,True
158002,MS,M,19,U,LE3,T,1,1,Other,At_home,course,father,True
158003,MS,M,19,U,LE3,T,1,1,Other,At_home,course,father,True
158004,MS,M,19,U,LE3,T,1,1,Other,At_home,course,father,True
158005,MS,M,19,U,LE3,T,1,1,Other,At_home,course,father,True
158006,MS,M,19,U,LE3,T,1,1,Other,At_home,course,father,True
158007,MS,M,19,U,LE3,T,1,1,Other,At_home,course,father,True
158008,MS,M,19,U,LE3,T,1,1,Other,At_home,course,father,True
158009,MS,M,19,U,LE3,T,1,1,Other,At_home,course,father,True
158010,MS,M,19,U,LE3,T,1,1,Other,At_home,course,father,True
158011,MS,M,19,U,LE3,T,1,1,Other,At_home,course,father,True
158012,MS,M,19,U,LE3,T,1,1,Other,At_home,course,father,True
158013,MS,M,19,U,LE3,T,1,1,Other,At_home,course,father,True
158014,MS,M,19,U,LE3,T,1,1,Other,At_home,course,father,True
158015,MS,M,19,U,LE3,T,1,1,Other,At_home,course,father,True
158016,MS,M,19,U,LE3,T,1,1,Other,At_home,course,father,True
158017,MS,M,19,U,LE3,T,1,1,Other,At_home,course,father,True
158018,MS,M,19,U,LE3,T,1,1,Other,At_home,course,father,True
158019,MS,M,19,U,LE3,T,1,1,Other,At_home,course,father,True
158020,MS,M,19,U,LE3,T,1,1,Other,At_home,course,father,True
158021,MS,M,19,U,LE3,T,1,1,Other,At_home,course,father,True
158022,MS,M,19,U,LE3,T,1,1,Other,At_home,course,father,True

### Step 10. Multiply every number of the dataset by 10.

In [13]:
student.select_dtypes("int64").applymap(lambda x: x * 10)

        age_mat  Medu_mat  Fedu_mat
0           180        40        40
1           180        40        40
2           180        40        40
3           180        40        40
4           180        40        40
5           180        40        40
6           180        40        40
7           180        40        40
8           180        40        40
9           180        40        40
10          180        40        40
11          180        40        40
12          180        40        40
13          180        40        40
14          180        40        40
15          180        40        40
16          180        40        40
17          180        40        40
18          180        40        40
19          180        40        40
20          180        40        40
21          180        40        40
22          180        40        40
23          180        40        40
24          180        40        40
25          180        40        40
26          180        40        40
27          180        40        40
28          180        40        40
29          180        40        40
...         ...       ...       ...
157993      190        10        10
157994      190        10        10
157995      190        10        10
157996      190        10        10
157997      190        10        10
157998      190        10        10
157999      190        10        10
158000      190        10        10
158001      190        10        10
158002      190        10        10
158003      190        10        10
158004      190        10        10
158005      190        10        10
158006      190        10        10
158007      190        10        10
158008      190        10        10
158009      190        10        10
158010      190        10        10
158011      190        10        10
158012      190        10        10
158013      190        10        10
158014      190        10        10
158015      190        10        10
158016      190        10        10
158017      190        10        10
158018      190        10        10
158019      190        10        10
158020      190        10        10
158021      190        10        10
158022      190        10        10

[158023 rows x 3 columns]